<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow"
  >
    <div
      class="navbar-collapse collapse d-sm-inline-flex justify-content-center gap-3"
    >
      <div class="nav-item dropdown" [routerLinkActive]="['link-active']">
        <button
          class="btn dropdown-toggle-no-caret"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Mice
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Mice 1</a></li>
          <li><a class="dropdown-item" href="#">Mice 2</a></li>
          <li><a class="dropdown-item" href="#">Mice 3</a></li>
        </ul>
      </div>
      <div class="nav-item dropdown" [routerLinkActive]="['link-active']">
        <button
          class="btn dropdown-toggle-no-caret"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Keyboards
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Keyboards 1</a></li>
          <li><a class="dropdown-item" href="#">Keyboards 2</a></li>
          <li><a class="dropdown-item" href="#">Keyboards 3</a></li>
        </ul>
      </div>
      <div class="nav-item dropdown" [routerLinkActive]="['link-active']">
        <button
          class="btn dropdown-toggle-no-caret"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Printers
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Printers 1</a></li>
          <li><a class="dropdown-item" href="#">Printers 2</a></li>
          <li><a class="dropdown-item" href="#">Printers 3</a></li>
        </ul>
      </div>
      <div class="nav-item dropdown" [routerLinkActive]="['link-active']">
        <button
          class="btn dropdown-toggle-no-caret"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Speakers
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Speakers 1</a></li>
          <li><a class="dropdown-item" href="#">Speakers 2</a></li>
          <li><a class="dropdown-item" href="#">Speakers 3</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
